@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8F7F5;
  color: #2D2C2A;
  font-family: 'Inter', sans-serif;
}
.font-serif {
  font-family: 'Playfair Display', serif;
}



.image-reveal {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
}
.image-reveal.hidden-clip {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}