@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #111111;
}

.brutalist-border {
  border: 3px solid #111111;
  box-shadow: 6px 6px 0px #111111;
  transition: all 0.2s ease;
}
.brutalist-border:hover {
  transform: translate(-4px, -4px);
  box-shadow: 10px 10px 0px #111111;
}
.brutalist-border:active {
  transform: translate(6px, 6px);
  box-shadow: 0px 0px 0px #111111;
}
